body {
    font-family: Arial, sans-serif;
    background-color: #ffd6f2; /* Color de fondo rosa claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.poem-container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.poem {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: animateLine 1s forwards;
}

@keyframes animateLine {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #ff69b4; /* Color rosa brillante */
}

.line:nth-child(odd) span {
    color: #ff1493; /* Otro tono de rosa */
}

.line:nth-child(even) span {
    color: #ff7f50; /* Color naranja */
}

.line span::before {
    content: "♥"; /* Corazón como decoración */
    color: #ff69b4; /* Color rosa brillante */
    margin-right: 5px;
}

.love-image {
    width: 30%; /* Ancho máximo */
    height: auto;
    opacity: 0;
    animation: fadeInImage 1s forwards 1s;
}

@keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

